@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Gravitas+One&display=swap');

.gravitas-one-regular {
  font-family: "Gravitas One", Times, serif;
  font-weight: 400;
  font-style: normal;
}

.google-sans-light {
  font-family: "Google Sans", Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "GRAD" 0;
}

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #084887;
  --secondary-color: #F9AB55;
  --accent1-color: #F58A07;
  --accent2-color: #F7F5FB;

  /* change the values below to your chosen font(s) */
  --heading-font: "Gravitas One", Times, serif;
  --paragraph-font: "Google Sans", Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #396E94;  /* headlines on a white background */ 
  --headline-color-on-color: var(--accent2-color); /* headlines on a colored background */ 
  --paragraph-color-on-white: #396E94; /* paragraph text on a white background */ 
  --paragraph-color-on-color: var(--accent2-color); /* paragraph text on a colored background */ 
  --paragraph-background-color: #396E94  ;
  --nav-link-color: #084887;
  --nav-background-color: #F9AB55;
  --nav-hover-link-color: #F7F5FB;
  --nav-hover-background-color: #396E94;
}

body {
  background-color: var(--accent2-color);
  font-family: var(--paragraph-font);
  font-size: 22px;
  margin: 0;
  padding: 0;
}

body div {
  max-width: 1600px;
  margin: 0 auto;
}
main section img {
  box-sizing: border-box;
}
#hero-msg h1, #hero-msg h2, .button-box, main section {
  text-align: center;
}
#hero-img {
  width: 100%;
}

#background {
  height: 725px;
  background-color: var(--headline-color-on-white);
}

.logo {
  width: 80px;
  padding: 15px;
}
#logo_link {
  padding-top: 5px;
}

.icon {
  width: 80px;
  padding-top: 10px;
}

header {
  background-color: var(--paragraph-background-color);
}

nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
  list-style-type: none;
  display: flex;
}
nav a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  text-align: center;
}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

.home-title {
  color: var(--headline-color-on-white);
  font-size: 2em;
  font-family: var(--heading-font);
  margin-top: 10px;
}
h1 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
h2 {
  color: var(--headline-color-on-white);
  padding: 25px;
  margin: 0;
}
.rivers-card, .camping-card, .rapids-card {
  color: var(--paragraph-color-on-color);
  margin: 200px 0;
}
.card-img {
  border: 10px solid var(--paragraph-background-color);
}
.book, .join {
  background-color: var(--accent2-color);
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}
.book:hover, .join:hover {
  background-color: var(--nav-hover-background-color);
  color: var(--nav-hover-link-color);
}
.msg {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
  line-height: 1.5em;
  padding: 35px;
}
.msg h2 {
  color: var(--headline-color-on-color);
}
.msg p {
  color: var(--paragraph-color-on-color);
  font-size: .8em;
  padding-bottom: 15px;
}  

footer {
  background-color: var(--nav-background-color);
  padding: 25px 50px;
  margin-top: 200px;
}
footer a {
  color: var(--nav-link-color);
  text-decoration: none;
  text-align: center;
}
footer a:hover {
  color: var(--nav-hover-link-color);
}
footer p {
  font-size: 1.2em;
  color: var(--nav-link-color);
  text-align: center;
}
footer p a:hover {
  color: var(--nav-hover-link-color);
  text-decoration: underline;
}
footer .social {
  display: flex;
  justify-content: center;
  gap: 20px;
}
footer .social img {
  padding-top: 15px;
}