.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;  
}
h1 {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  z-index: 1;
  font-size: 16vw;
  align-self: baseline;
  text-align: center;
}
img {
  width: 100%;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}
aside {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  background-color: gray;  
}
#cherries {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  color: darkred;
  font-size: 5vh;
  text-align: center;
  padding-top: 350px;
}